<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="985ee305-f5aa-40fc-b750-10c7af63edc3"
           Name="SecureBrowser"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="Lv-231.C++"
           UpgradeCode="95d7e711-80be-404d-a6ee-8d1d2e7a3886">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

    <!-- Setting UI -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing Secure Browser." />
    
    <!-- License document -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
   
    <Feature Id="ProductFeature" Title="SecureBrowser" Level="1">
      <MergeRef Id="VCRedist"/>
      <ComponentRef Id="RegistryEntries" />
      <ComponentGroupRef Id="ComponentGroupDirectories" />
      <ComponentGroupRef Id="ComponentGroupResources" />
      <ComponentGroupRef Id="ComponentGroupQtStuff" />
      <ComponentGroupRef Id="ComponentGroupPlatformsFolder" />
      <ComponentGroupRef Id="ComponentGroupImageformatsFolder" />
      <ComponentGroupRef Id="Components" />
    </Feature>
  </Product>
  
  <!-- Setting up directories structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLFOLDER" Name="SecureBrowser">
        <Directory Id="ResourceFolder" Name="Resources" />
        <Directory Id="PhotosFolder" Name="Photos" />
        <Directory Id="LogsFolder" Name="Logs" />
        <Directory Id="PlatformsFolder" Name="platforms" />
        <Directory Id="ImageformatsFolder" Name="imageformats" />
      </Directory>
      <Directory Id="MenuFolder">
        <Directory Id="StartMenuFolder" Name="Secure Browser" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  
    <DirectoryRef Id="TARGETDIR">
       <Merge Id="VCRedist" 
              SourceFile="$(var.SolutionDir)3rd-party-libraries\microsoft\Microsoft_VC140_CRT_x86.msm" 
              DiskId="1"
              Language="0"/>
    </DirectoryRef>
  </Fragment>

  <!-- Setting up registry -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="e30afa33-3bb6-4bbf-87ac-bc391c657e82">
        <RegistryKey Root="HKCR" Key="sb" ForceCreateOnInstall="yes">
          <RegistryKey Key="shell" ForceCreateOnInstall="yes">
            <RegistryKey Key="open" ForceCreateOnInstall="yes">
              <RegistryKey Key="command" ForceCreateOnInstall="yes">
                <RegistryValue Type="string" 
                               Value='"[INSTALLFOLDER]Startup.exe" "%1"'/>
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>
          <RegistryValue Type="string" Name="URL Protocol" Value="" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <!-- Product components -->
  <Fragment>
    
    <!-- Empty directories -->
    <ComponentGroup Id="ComponentGroupDirectories">
      <Component Id="ComponentPhotosFolder"
                 Guid="16f60cbe-f1ab-4797-9ca7-c2d46e84c2e0"
                 Directory="PhotosFolder">
        <CreateFolder />
      </Component>
      <Component Id="ComponentLogsFolder"
                 Guid="53b8736e-17c6-41f0-ade0-518cd3c4ab5d"
                 Directory="LogsFolder">
        <CreateFolder />
      </Component>
    </ComponentGroup>
    
    <!-- Resources -->
    <ComponentGroup Id="ComponentGroupResources" Directory="ResourceFolder">
      <Component Id="haarcascade_frontalface_alt.xml" Guid="60b311bd-aa22-4801-ae23-ab2beac99b45">
        <File Id="haarcascade_frontalface_alt.xml"
              Name="haarcascade_frontalface_alt.xml"
              Source="$(var.SolutionDir)Build\Release\Resources\haarcascade_frontalface_alt.xml"
              ReadOnly="yes" />
      </Component>
    </ComponentGroup>
    
    <!-- Qt required files -->
    <ComponentGroup Id="ComponentGroupQtStuff" Directory="INSTALLFOLDER">
      <Component Id="QtStuff" Guid="11d6ce37-73ac-4545-a620-2ce0e10c3e8c">
          <File Id="icudtl.dat"
              Name="icudtl.dat"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\icudtl.dat"
              ReadOnly="yes" />
        <File Id="qtwebengine_resources.pak"
              Name="qtwebengine_resources.pak"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\qtwebengine_resources.pak"
              ReadOnly="yes" />
        <File Id="qtwebengine_resources_100p.pak"
              Name="qtwebengine_resources_100p.pak"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\qtwebengine_resources_100p.pak"
              ReadOnly="yes" />
        <File Id="qtwebengine_resources_200p.pak"
              Name="qtwebengine_resources_200p.pak"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\qtwebengine_resources_200p.pak"
              ReadOnly="yes" />
        <File Id="d3dcompiler_47.dll"
              Name="d3dcompiler_47.dll"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\d3dcompiler_47.dll"
              ReadOnly="yes" />
        <File Id="libEGL.dll"
              Name="libEGL.dll"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\libEGL.dll"
              ReadOnly="yes" />
        <File Id="libGLESv2.dll"
              Name="libGLESv2.dll"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\libGLESv2.dll"
              ReadOnly="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ComponentGroupPlatformsFolder" Directory="PlatformsFolder">
      <Component Id="ComponentPlatformsFolder" Guid="18a685a8-66b0-40b2-a295-b026dbbe8a76">
        <File Id="qwindows.dll"
              Name="qwindows.dll"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\qwindows.dll"
              ReadOnly="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ComponentGroupImageformatsFolder" Directory="ImageformatsFolder">
      <Component Id="ComponentImageformatsFolder" Guid="7ba49ec1-51af-4ece-bea8-022dd8fbe45c">
        <File Id="qico.dll"
              Name="qico.dll"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\qico.dll"
              ReadOnly="yes" />
        <File Id="qjpeg.dll"
              Name="qjpeg.dll"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\qjpeg.dll"
              ReadOnly="yes"/>
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="Components" Directory="INSTALLFOLDER">
      <!-- Executables -->
      <Component Id="Startup.exe" Guid="e155beaa-ba87-4484-832d-f87373ab93db">
        <File Id="Startup.exe" 
              Name="Startup.exe" 
              Source="$(var.Startup.TargetDir)Startup.exe" />
        <Shortcut Id="MenuShortcut"
                 Name="Secure Browser"
                 Description="Start the Secure Browser"
                 Directory="StartMenuFolder"
                 Target="[#Startup.exe]">
          <Icon Id="Shortcut" SourceFile="logo.ico" />
        </Shortcut>
        <RemoveFolder Id="RemoveMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\SoftServe\SecureBrowser"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
      <Component Id="Browser.exe" Guid="6b3b6b65-cb2c-4494-8fd5-8d9825daf6a9">
        <File Id="Browser.exe"
              Name="Browser.exe"
              Source="$(var.Browser.TargetDir)Browser.exe" />
      </Component>
      <Component Id="QtWebEngineProcess.exe" Guid="e2e542df-f316-45f7-bf3e-b89a2dcc15ed">
        <File Id="QtWebEngineProcess.exe"
              Name="QtWebEngineProcess.exe"
              Source="$(var.SolutionDir)3rd-party-libraries\qt\QtWebEngineProcess.exe" />
      </Component>
      

      <!-- Modules -->
      <Component Id="SecureBrowserDLLs" Guid="01256d3b-d729-4d8e-be97-d975676d2e30">
        <File Id="CameraInspector.dll" 
              Name="CameraInspector.dll" 
              Source="$(var.CameraInspector.TargetDir)CameraInspector.dll" />
        <File Id="HttpClient.dll" 
              Name="HttpClient.dll" 
              Source="$(var.HttpClient.TargetDir)HttpClient.dll" />
        <File Id="KeyboardInspector.dll" 
              Name="KeyboardInspector.dll" 
              Source="$(var.KeyboardInspector.TargetDir)KeyboardInspector.dll" />
        <File Id="Logger.dll" 
              Name="Logger.dll" 
              Source="$(var.Logger.TargetDir)Logger.dll" />
        <File Id="LoginDialog.dll" 
              Name="LoginDialog.dll" 
              Source="$(var.LoginDialog.TargetDir)LoginDialog.dll" />
        <File Id="WI.dll" 
              Name="WI.dll" 
              Source="$(var.WI.TargetDir)WI.dll" />
      </Component>

      <!--3rd party libraries -->
      <Component Id="OtherDLLs" Guid="4457c075-98d4-4058-b9f8-342050421e6c">
        <File Id="escapi.dll"
              Name="escapi.dll"
              Source="$(var.SolutionDir)3rd-party-libraries\escapi\escapi.dll" />
        <File Id="cpprest140_2_9.dll"
              Name="cpprest140_2_9.dll"
              Source="$(var.SolutionDir)Build\Release\cpprest140_2_9.dll" />
      </Component>
      
      <!-- OpenCV -->
      <Component Id="OpenCVDLLs" Guid="923cb1cd-bc01-40c1-baf8-c2337fe8a36c">
        <File Id="opencv_core2411.dll" 
              Name="opencv_core2411.dll" 
              Source="$(var.SolutionDir)Build\Release\opencv_core2411.dll" />
        <File Id="opencv_highgui2411.dll" 
              Name="opencv_highgui2411.dll" 
              Source="$(var.SolutionDir)Build\Release\opencv_highgui2411.dll" />
        <File Id="opencv_imgproc2411.dll" 
              Name="opencv_imgproc2411.dll" 
              Source="$(var.SolutionDir)Build\Release\opencv_imgproc2411.dll" />
        <File Id="opencv_objdetect2411.dll" 
              Name="opencv_objdetect2411.dll" 
              Source="$(var.SolutionDir)Build\Release\opencv_objdetect2411.dll" />
      </Component>

      <!-- Qt -->
      <Component Id="QtDLLs" Guid="214d8a2c-1537-4fed-a8ee-39d2f14c55c3">
        <File Id="Qt5Core.dll" 
              Name="Qt5Core.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5Core.dll" />
        <File Id="Qt5Gui.dll" 
              Name="Qt5Gui.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5Gui.dll" />
        <File Id="Qt5Network.dll" 
              Name="Qt5Network.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5Network.dll" />
        <File Id="Qt5Positioning.dll" 
              Name="Qt5Positioning.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5Positioning.dll" />
        <File Id="Qt5PrintSupport.dll" 
              Name="Qt5PrintSupport.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5PrintSupport.dll" />
        <File Id="Qt5Qml.dll" 
              Name="Qt5Qml.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5Qml.dll" />
        <File Id="Qt5Quick.dll" 
              Name="Qt5Quick.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5Quick.dll" />
        <File Id="Qt5QuickWidgets.dll" 
              Name="Qt5QuickWidgets.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5QuickWidgets.dll" />
        <File Id="Qt5WebChannel.dll" 
              Name="Qt5WebChannel.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5WebChannel.dll" />
        <File Id="Qt5WebEngineCore.dll" 
              Name="Qt5WebEngineCore.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5WebEngineCore.dll" />
        <File Id="Qt5WebEngineWidgets.dll" 
              Name="Qt5WebEngineWidgets.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5WebEngineWidgets.dll" />
        <File Id="Qt5Widgets.dll" 
              Name="Qt5Widgets.dll" 
              Source="$(var.SolutionDir)3rd-party-libraries\qt\Qt5Widgets.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
